:root {
  /* Palette came from https://coolors.co/50514f-cbd4c2-fffcff-247ba0-c3b299 */
  --davys-grey: #50514fff;
  --ash-gray: #cbd4c2ff;
  --snow: #fffcffff;
  --celadon-blue: #247ba0ff;
  --khaki-web: #c3b299ff;
}


* {
  box-sizing: border-box;
  /* border: dashed red 1px;*/
  font-size: 1em;
  /* border-style: dashed;
  border-color: red;
  border-width: 1px; */
}


body {
  display: flex;
  flex-direction: column;
}

.portfolio-section {
    display: flex;
    flex-flow: row;
    margin-top: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

.col {
  flex: 1;
}

.portfolio-header {
  display: flex;
  text-align: right;
  flex: 0 0 15vw;
  justify-content: flex-end;
  border-right:var(--davys-grey);
  border-right: solid;
  margin-right: 20px;
  padding-right: 10px;
  font-size: 24px;
  
}
  
.portfolio-block {
  flex-basis: 85vw;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
}


.work-featured {
  display: flex;
  position:relative;
  flex-basis: 100%;
  border-color: var(--ash-gray);
  border-style: solid;
  border-width: .5em;
  margin: .5em .5em;
}

.work-lessor {
  display: flex;
  flex-direction: row;
}

.work-lessor-item {
  display: flex;
  position: relative;
  flex-basis: 50%; 
  border-color: var(--ash-gray);
  border-style: solid;
  border-width: .5em;
  margin: .5em .5em;
}

.contact-row {
  display: flex;
  flex-direction: row;
  border-color: blue;
}

.contact-item {
  display: flex;
  align-items:center;
  font-family:Arial, Helvetica, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  font-size: 1.2em;
}

.portfolio-area-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}

.portfolio-area-n {
  display: flex;
  flex-basis: 20%;
  justify-content: space-around;
  
  flex-direction: row;
  flex-grow: 1;
}

.row {
  display: flex;
}

.title {
  display: flex;
  flex-basis: 33%;
}

.content {
  display: flex;
  flex-basis: 66%;
}

.item {
    display: flex;
    justify-content: space-between;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--davys-grey);
  align-items: stretch;
}

.nav-element {
  display: flex;
  justify-content: center;
  padding: .5em .5em;
  margin: 1em .5em 1em 0em;
  color: var(--ash-gray);
  text-decoration: none;
  border-bottom-style:solid;
  font-size: 1.2em;
}

.hero-banner {
  display: flex;
/*  min-height: 20vh;*/
  justify-content: flex-end;
  position: relative;
}

.cool-subtitle {
  display: flex;
  justify-content: center;
  background-color:var(--ash-gray);
  padding: 9px 15px;
  color: var(--davys-grey);
  z-index: 10;
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-weight: bold;
  font-size: 1.5em;
}

.nav-bar-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    background-color:var(--ash-gray);
    padding: .5em 1em;
    color: var(--davys-grey);
    z-index:10;
    position: absolute;
    left: 0em;
    top: .6em;
    /* left: 0em; */
    /* top: .5em; */
    /*top:6px;*/
    font-size: 1.5em;
    font-weight: bold;
}
.hero-image > img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}

.work-featured > img {
  max-width: 100%;
  height: auto;
}

.work-lessor-item > img {
  max-width: 100%;
  height: auto;
}

.work-label {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--ash-gray);
  padding: .5em 1em;
  color: var(--davys-grey);
  z-index:10;
  position:absolute;  
  /* bottom: 0px; */
  bottom: 10%;
}

.work-label-title {
  font-size: large;
  font-weight: bold;
}

.work-label-subtitle {
  font-size: small;
}


/* @media screen 
  and (max-width: 950px) { 
    .nav-bar-label {
      font-size: 2em;  
      top: 10px;  
  }
}  */

@media screen 
  and (max-width: 768px) { /* for mobile devices */
    /* .nav-bar-label {
      font-size: 2em;  
      top: .5em;  
  } */
    .portfolio-section {
      flex-direction:column;
    }
    .portfolio-header {
      text-align: left;
      flex: 0 0 1em;
      justify-content: flex-start;
      border-bottom:var(--davys-grey);
      border-bottom: solid;
      border-right: none;
      margin-bottom: 1em;
    }
    .portfolio-block {
      flex-basis: 0;
      /* margin-right: 2em; */
    }
}